body {
    margin: 0;
    padding: 0;
}
.hero{
   /* background-color: #ccc;*/
    background-image: url(../images/bghero.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
}