body {
    margin: 0;
    padding: 0;
}
/* HERO */
.hero {
    /* background-image: url("../images/bghero.webp"); */
    background-color: palevioletred;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px;
}

/* Cartes des compétences */
#services .col {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}

p{
    font-size: ;
}